{% extends 'base.html' %}

{% block content %}


      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-4">
                <img src="https://sun9-12.userapi.com/c858032/v858032681/76fa/TwsRRBOKV20.jpg" class="img-thumbnail" alt="avatar">
              </div>
              <div class="col-lg-8">
                <h2>Title</h2>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, perspiciatis voluptas nostrum iusto sapiente, ex provident necessitatibus praesentium, quas enim quia aut veniam et dignissimos? Impedit corrupti sit aliquam natus.</div>
              </div>
          </div>
          <div class="row justify-content-center">
                <div class="col-lg-2">
                  Мой телефон: 8-800-555-35-35
                </div>
                <div class="col-lg-4">
                        VK: vk.com / Facebook: Facebook.com / PornHub: pornhub.com
                    </div>
                <div class="col-lg-2">
                  Slype: Ulaylya345
                </div>

              </div>
      </div>



{% endblock content %}